{% extends "base.html" %}

{% block menu %}

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Serv-Rasp</a>
  <form action="#" class="input-group" method="post">
    <input class="form-control mr-sm-2" type="text" placeholder="file/folder 's name" aria-label="Search" name="files">

    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="submit">Search File/Folder</button>
  </form>

{% endblock %}

{% block back %}

<a class="btn btn-secondary" href="/.." role="button", style="margin: 20px">Home</a>

{% endblock %}

{% block content %}
<form action="#" class="input-group" method="post" enctype = "multipart/form-data">
    <input type="file" class="btn btn-warning" name="upload">
    <button type="submit" class="btn btn-success">upload</button>
</form>
<p></p>

{% for i in files %}
    {% if i == ".."%}
        <form action="#" class="input-group" method="post" enctype = "multipart/form-data">
            <input type="hidden" value="{{i}}" name="cliquedfile">
            <button type="submit" class="btn btn-primary btn-lg btn-block" value="submit", style="margin: 5px">{{i}}</button>
        </form>
    {% else%}
        <form action="#" class="input-group" method="post">
            <input type="hidden" value="{{i}}" name="cliquedfile">
            <button type="submit" class="btn btn-secondary btn-lg btn-block" value="submit" style="margin: 5px">{{i}}</button>
        </form>
    {% endif %}

    {% if i != ".."%}
        <form action="#" class="input-group" method="post">
            <input type="hidden" value="{{i}}" name="download">
            <button type="submit" class="btn btn-success" value="submit" style="margin: 7px">download "{{i}}"</button>
        </form>
    {% endif %}
{% endfor %}

{% endblock %}
