{% extends "base.html" %}

{% block menu %}

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Serv-Rasp</a>
  <form action="#" class="input-group" method="post">
    <input class="form-control mr-sm-2" type="text" placeholder="file/folder 's name" aria-label="Search" name="files">

    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="submit">Search File/Folder</button>
  </form>

{% endblock %}

{% block back %}

<a class="btn btn-secondary" href="/.." role="button">Home</a>

{% endblock %}

{% block content %}

<p> {{files}} <p>
{% for i in files %}
    {% if i == "token.txt" %}
        <a href="/{{path}}" download="{{i}}">
            {{i}}
        </a>
    {% else %}
        <form action="#" class="input-group" method="post">
            <input type="hidden" value="{{i}}" name="cliquedfile">
            <button type="submit" class="btn btn-secondary btn-lg btn-block" value="submit">{{i}}</button>
        </form>
    {% endif %}

{% endfor %}

{% endblock %}
